

 @media (max-width: 1199px) {
    /* Rules for laptops, small desktop screens, and smaller viewports */
  }

  @media (max-width: 991px /*and orientation: portrait*/) {
    /* Rules for tablets and smaller viewports */
    .flex-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
      }  
}
  
  @media (max-width: 767px) {
    /* Rules for smartphones only */
    .flex-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
      }
  }