
/* General CSS rules for every viewport, including large desktop screens */
body {
    background-color: #212121;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 24px 10px;
  }

  footer {
      color: #b3b3b3;
      height: max-content;
      font-size: small;
      padding-top: 20px;
  }

h1 {
  background-color: #81d4fa;
  color: #000000;
  text-align: center;
  padding: 10px;
}

h2{
  color: #81d4fa;
  text-align: center;
}

h3 {
  color: #000000;
}

  #topnav {
    background-color: #212121;
    overflow: hidden;
    width: 100%;
  }
  #topnav a {
    float: left;
    color: #b6ffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    width: 25%;
  }

  @media (max-width: 500px) {
    #topnav a {
      float: none;
      display: block;
      width: 100%;
      text-align: left;
    }
  }

  #topnav a:hover {
    background-color:  #b6ffff;
    color: #212121;
  }

  #topnav a.active {
    background-color:  #b6ffff;
    color: #212121;
  }

  .home {
    height: max-content;
    background-color: #212121;
  }

  .home_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    max-height: 50vh;
  }

  .about {
    height: max-content;
    background-color: #212121;
    color: #ffffff;
  }

  .about_img {
    height: 30%;
    width: 30%;
    object-fit: cover;
  }

  .SOC {
    background-color: #212121;
    height: max-content;
    color: #ACEDFF;
  }

  .contact {
    background-color: #212121;
    color: #ffffff;
    height: max-content;
  }

  a.contact:visited {
    color: #ACEDFF;
  }

  .logo {
    object-fit: fill;
    width: 100px;
  }

/* removes the underline under a link */
  a:link {
    text-decoration: none;
  }
/* the flex container becomes flexible by setting the display property to flex */
  .flex-container {
    /* display: flex;
    flex-flow: row wrap;
    height: 100vh;
    justify-content: center;
    align-items: center;
    align-content: space-between; */
    display: flex;
    justify-content: space-around;
  }

  @media (max-width: 767px) {
    /* Rules for smartphones only */
    .flex-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
      }
  }

/* The flex boxes to showcase past work to act as portfolio */
  .flex-container > div {
      background-color: #81d4fa;
      /* width: 40vh;
      height: 55vh;
      margin: 10px;
      padding: 20px;
      font-size: 17px; */
      width: 300px;
      height: 400px;
      margin: 30px;
     box-shadow: 5px 5px 20px black ; 
      padding: 10px;
      color: #212121;
  }

  .flex-item > h3 {
      text-align: center;
  }

  .github-octocat {
      max-width: 100%;
  }

  .jubair-avatar {
    max-width: 100%;
  }

  .jubair-scratch-game {
    max-width: 100%;
  }

  .subtext {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
  }

  /* Contact Form Style */
  * {
    box-sizing: border-box;
  }
  /* Style text inputs, select elements and textareas */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
    /* Style email inputs, select elements and textareas */
  input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: #ffffff;
  }
  /* Style the submit button */
  input[type=submit] {
    background-color: #81d4fa;
    color: #000000;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #6f8ab7;
  }
  /* Style the container */
  .contact-form-container {
    border-radius: 5px;
    background-color: #484848;
    padding: 20px;
  }
  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

.list-item {
  list-style: none;
}

.social-icons-list {
  justify-content: center;
  align-content: center;
}

  .credit {
    padding-bottom: 10px;
    text-align: center;
  }